body {
    display: flex;
    font-family: "Open Sans";
    margin-top: 350px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

