body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/987/497/original/abstract-stripes-golden-lines-diagonal-overlap-on-black-background-luxury-stryle-free-vector.jpg");
  font-family: Arial;
}

a {
  font-size: 20px;
  text-align: center;
  float: left;
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

button:hover {
  background-color: royalblue;
  transition-duration: 0.25s;
  box-shadow: 10px 5px 15px 5px #ffffff;
  box-shadow: 10px 5px 15px 5px #87cefa inset;
  opacity: 1;
}

.active {
  background-color: #d3d3d3;
  font-family: Arial;
}

.flex-container {
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

button {
  background-color: blue;
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  opacity: 0.75;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.nav-item{
  background-color: #404040;
  color: white;
}
