
body {
   font-family: /*"Inter",*/ sans-serif;
   font-display: swap;
   background-color: #f0f2e9;
}

nav{
 background-color: #404040;
 font-size: medium;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 color: white;
}

button{
 background-color: #a23479;
 text-align: center;
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 20px;
 padding: 10px;
}

a {
 background-color: #404040;
 text-decoration: none;
 color: white;
}

 li :hover{
 color: black;
 background-color: white;
}

li{
 display: inline;
 align-items: left;
 background-color: #404040; 
}
#legalStatements{
 text-align: center;  
}


