
body {
   font-family: "Inter",sans-serif;
   font-display: swap;
   background-color: #f0f2e9;
}

nav{
 background-color: #404040;
 font-size: medium;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: left; 
 color: #f9f9f9;
 font-family: Helvetica,Arial,sans-serif;
 width: 100%;
}

button{
 text-align: center;
 color: #f9f9f9;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: Helvetica,Arial,sans-serif;
}

a {
 background-color: #404040;
 text-decoration: none;
 color: #f9f9f9;
 padding: 15px;
 border-right: 1px solid #5a5a5a;
 border-left: 1px solid #5a5a5a;
}

a:hover {
   background-color: #0c5a73
}
footer{
 color: #f9f9f9;
 background-color: #404040;  
 padding: 10px; 
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
}

.statements{
 text-align: center;
 color: #f9f9f9;
 background-color: #404040;
 padding: 0px;
 border: none;
}

.btn{
   background-color: #a23479;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
   border: none;
   font-family: Arial, Helvetica, sans-serif;
}

.btn, button :hover{
   background-color: #0c5a73;
}

.flex-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.column.left {
 float: left;
 width: 25%;
 font-family: Helvetica,Arial,sans-serif;
 color: #404040;
 font-weight: lighter;
 font-size: 20px;
}

.column.middle{
 float:left;
 width: 50%;
 font-family: Helvetica,Arial,sans-serif;
 color: #404040;
 font-weight: lighter;
 font-size: 20px;
}

.column.right{
 float: right;
 width: 25%;
 font-family: Helvetica,Arial,sans-serif;
 color: #404040;
 font-weight: lighter;
 font-size: 20px;  
}

.contact{
   color: black;
   background-color: #f0f2e9;
   border: none;
   padding: 0px;  
}

.contact:hover{
 border: none;
 background-color: #f0f2e9;
 padding: 0px;
 color: blue;
}